<div class = "booyah-box col-8 offset-2 form-background">
  <div class = "booyah-box col-8 offset-2 text-center sign-in-view-form">
    <h2>Register</h2>
    <br />
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class = 'row justify-content-center'>
        <div class = "field col">
          first name<br>
          <%= f.text_field :first_name, autofocus: true %>
        </div>
        <div class = "field col">
          last name<br>
          <%= f.text_field :last_name %>
        </div>
      </div>
      <br />
      <div class = "field">
        short bio<br>
        <%= f.text_area :bio, rows: 5, cols: 50, placeholder: "What games you like to play? What is your favorite game? Describe yourself here... " %>
      </div>
      <br />
      <div class="field">
        email<br />
        <%= f.email_field :email %>
      </div>
      <br />
      <div class="field">
        password<br/>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password %>
      </div>
      <br />
      <div class="field">
        password confirmation<br />
        <%= f.password_field :password_confirmation %>
      </div>
      <br />
      <div class="actions">
        <%= f.submit "REGISTER", class: "btn btn-primary" %>
      </div>
    <% end %>
    <br />
    <%= render "devise/shared/links" %>
  </div>
</div>
