<div class = "booyah-box col-8 offset-2 form-background">
  <div class = "booyah-box col-8 offset-2 text-center sign-in-view-form">
    <h2>Register</h2>
    <br />
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class = 'row justify-content-center'>
        <div class = "field col">
          <%= f.input :first_name %>
        </div>
        <div class = "field col">
          <%= f.input :last_name %>
        </div>
      </div>
      <br />
      <div class = "field">
        <%= f.input :bio, as: :text, placeholder: "What games you like to play? What is your favorite game? Describe yourself here... " %>
      </div>
      <br />
      <div class="field">
        <%= f.input :email %>
      </div>
      <br />
      <div class="field">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.input :password %>
      </div>
      <br />
      <div class="field">
        <%= f.input :password_confirmation %>
      </div>
      <br />
      <div class="actions">
        <%= f.button :submit, "REGISTER", class: "btn btn-primary" %>
      </div>
    <% end %>
    <br />
    <%= render "devise/shared/links" %>
  </div>
</div>
