<br />
<div class = "booyah-box col-10 offset-1">
  <br/>
  <h1 class = "text-center">Add a New Game to Database</h1>
  <br/>
  <%= simple_form_for @game do |f| %>
    <%= f.input :title %>
    <%= f.input :genre %>
    <%= f.input :meta_score %>
    <%= f.input :platform %>
    <%= f.input :description, as: :text %>
    <%= f.input :developer %>
    <%= f.input :publisher %>
    <%= f.input :release_date %>
    <%= f.input :esrb_rating %>
    <%= f.input :youtubeLink %>
    <br />
    <%= f.submit "Create", class: 'btn btn-success' %>
    <br />
  <% end %>
  <br />
</div>