<h1>Search for games to add to your collection!</h1>
<br /><br />

<%= form_tag(games_path, method: :get) do %>
  <%= text_field_tag :term %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<br /><br />

<% @games.each do |game| %>
  <br />
  <div class = "text-center booyah-box col-4 offset-4">
    <%= link_to game.title, game_path(game) %>
    <br />
    <%= game.platform %>
  </div>
<% end %>