<div class = "booyah-box col-6 offset-3 form-background">

  <div class = "booyah-box col-8 offset-2 text-center sign-in-view-form">
    <h2>Welcome Back</h2>
    <br />
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        E-mail<br />
        <%= f.email_field :email, autofocus: true %>
      </div>
      <br />
      <div class="field">
        Password<br />
        <%= f.password_field :password %>
      </div>
      <br />
      <div class="actions">
        <%= f.submit "Sign In", class: "btn btn-primary" %>
      </div>
    <% end %>
    <br/>
    <%= render "devise/shared/links" %>
  </div>
</div>
