<!DOCTYPE html>
<html>
  <head>
    <script src="https://use.fontawesome.com/caad921b57.js"></script>
    <title>Goodgames</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      $(function(){
        $.get("https://chicken-coop.fr/rest/games?title=[zelda]", function(data){
          console.log(data);
        });
      });
    </script>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to 'GoodGames', root_path, class: 'navbar-brand' %>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <% if user_signed_in? %>
          <ul class="nav justify-content-center">
            <br />
            <li class="nav-item">
              <%= link_to dashboard_path, :title => "Home" do %><span class = "fa fa-home fa-3x fa-fw"></span><% end %>
            </li>
            <li class="nav-item">
              <%= link_to my_games_path, :title => "My Games Collection" do %><span class = "fa fa-gamepad fa-3x fa-fw"></span><% end %>
            </li>
            <li class="nav-item">
              <%= link_to search_games_path, :title => "Browse" do %><span class = "fa fa-search fa-3x fa-fw"></span><% end %>
            </li>
          </ul>
          <br />
          <ul class = "nav justify-content-end">
            <li class="nav-item">
              <%= link_to user_accounts_path, :title => "My Account" do %><span class = "fa fa-user-circle-o fa-3x fa-fw"></span><% end %>
            </li>
          </ul>
        <% else %>
          <ul class = "nav justify-content-end">
            <li class="nav-item">
              <%= link_to 'Sign In', new_user_session_path, class: "btn btn-success" %>
          </ul>
        <% end %>
      </div>
    </nav>
    
    <% if notice.present? %>
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong><%= notice %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <% if alert.present? %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong><%= alert %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
